{% extends "pets/base.html" %}


{% block pets %}
<div class="dashboard-nav-off">
    
</div>
<div class="pets-info-div">
    <p class="paragraph pets-par-info">
        This page concerns pet pets. The pets independent of pets
        although usually they have their own. A pet can only have 
        one vet, but a vet has multiple pets.
    </p>

    <p class="paragraph pets-par-info">
        pets can be added using our vet-registration form.
        pets only have two pieces of information related to
        them: first name and last name (tho as we said, they
        are also responsible for pets).
    </p>

    <p class="paragraph pets-par-info">
        There is also a list of pets containing all the pets 
        and their details. There, it is possible to edit or delete
        a vet entry.
    </p>
</div>
{% endblock %}