{% extends "pets/base.html" %}


{% block pets %}
<div class="dashboard-nav-pets-off">
    
</div>
<div class="pets-info-div">
    <p class="paragraph pets-par-info">
        This page concerns pets. The pets depend on owners, that 
        is, a pet can't exist without an owner, and they have 
        independent relationships with vets, visits, and treatments.
    </p>

    <p class="paragraph pets-par-info">
        To add a pet one has to go to the Owners page, a pet can't
        exist on its own.
    </p>

    <p class="paragraph pets-par-info">
        There is also a list of pets containing all the pets 
        and their details. There, it is possible to edit or delete
        a pet entry. One can also find information of a pet's 
        history of visits and treatments.
    </p>
</div>
{% endblock %}