{% extends "pets/base.html" %}

{% block pets %}
<div class="dashboard-nav-pets-off">
    
</div>
<div class="pets-see-div">
    {% for pet in pets %}
    <div class="pet-box">
        {% if pet.image64 %}
        <img src='data:{{pet.image_type}};base64, {{pet.image64}}' alt="pet-{{pet.id}}" class="pets-pet-profile-img">
        {% else %}
        <img src="/static/images/cat_paw_logo_black.png" alt="pet-{{pet.id}}" class="pets-pet-profile-img">
        {% endif %}
        <h3 class="heading-tertiary">{{pet.name}}</h3>
        <hr>
        <p class="paragraph pet-details-pet">Dob: {{pet.dob}}</p>
        <p class="paragraph pet-details-pet">Yo: {{pet.yo}}</p>
        <p class="paragraph pet-details-pet">Type: {{pet.type}}</p>
        <p class="paragraph pet-details-pet">Owner: <a style="color: #333;"
                href="/owners/{{pet.owner.id}}/edit">{{pet.owner.first_name}}</a></p>
        <p class="paragraph pet-details-pet">Vet: <a style="color: #333;"
                href="/vets/{{pet.vet.id}}/edit">{{pet.vet.first_name}}</a></p>
        <hr>
        <div class="edit-delete-div">
            <div class="edit-box">
                <form action="/pets/{{pet.id}}/edit">
                    <input type="submit" class="pet-edit-input" id="edit-pet{{pet.id}}">
                    <label for="edit-pet{{pet.id}}">
                        <span class="pet-edit-icon"></span>
                    </label>
                </form>
            </div>
            <div class="delete-box">
                <form action="/pets/{{pet.id}}/delete">
                    <input type="submit" class="pet-delete-input" id="delete-pet{{pet.id}}">
                    <label for="delete-pet{{pet.id}}">
                        <span class="pet-delete-icon"></span>
                    </label>
                </form>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}