/* MARGINS */
.margin-top-large {
    margin-top: 5rem
}

.margin-top-medium {
    margin-top: 2.5rem;
}


.margin-top-small {
    margin-top: 1.5rem;
}


.margin-bottom-large {
    margin-bottom: 5rem
}

.margin-bottom-medium {
    margin-bottom: 2.5rem;
}


.margin-bottom-small {
    margin-bottom: 1.5rem;
}


.margin-left-large {
    margin-left: 5rem
}

.margin-left-medium {
    margin-left: 2.5rem;
}


.margin-left-small {
    margin-left: 1.5rem;
}


.margin-right-large {
    margin-right: 5rem
}

.margin-right-medium {
    margin-right: 2.5rem;
}


.margin-right-small {
    margin-right: 1.5rem;
}

/* PADDINGS */
.padding-top-large {
    margin-top: 5rem
}

.padding-top-medium {
    margin-top: 2.5rem;
}


.padding-top-small {
    margin-top: 1.5rem;
}


.padding-bottom-large {
    margin-bottom: 5rem
}

.padding-bottom-medium {
    margin-bottom: 2.5rem;
}


.padding-bottom-small {
    margin-bottom: 1.5rem;
}


.padding-left-large {
    margin-left: 5rem
}

.padding-left-medium {
    margin-left: 2.5rem;
}


.padding-left-small {
    margin-left: 1.5rem;
}


.padding-right-large {
    margin-right: 5rem
}

.padding-right-medium {
    margin-right: 2.5rem;
}


.padding-right-small {
    margin-right: 1.5rem;
}
