.section-testimonials {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 1),
        rgba(40, 180, 133, 1)
        );
        display: flex;
    }
    
    
    .testimonials-scrollable {
        display: flex;
        margin: auto;
        overflow-x: scroll;
        width: 80rem;
    }
    
    .testimonial-box {
        overflow: hidden;
        overflow-y: scroll;
        border-radius: 80%;
        margin: 3rem;
        background-color: white;
        min-width: 20rem;
        min-height: 10rem;
        width: 30rem;
        height: 10rem;
        text-align: center;
        box-shadow: 2rem 1rem 3rem rgba(0, 0, 0, .4);
    }

    .testimonial-box  > hgroup {
        margin: auto;
        width: 20rem;
    }