.owners-see-div {
    grid-area: owners-main;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 5rem;
    row-gap: 4rem;
    background-size: cover;
    background-color: #f7f7f7;
    padding: 10rem 5rem 2rem;
}

.owner-box {
    width: 15rem;
}

.owner-details-paragraph {
    margin: .3rem !important;
    position: relative;
}

.owner-details-phone::before,
.owner-details-email::before {
    /* content: url(/static/images/phone_icon.jpg); */
    content: "";
    background-size: 2rem 2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: .7rem;
    left: -3rem;
}

.owner-details-email::before {
    background-image: url(/static/images/email_icon.png);
}

.owner-details-phone::before {
    background-image: url(/static/images/phone_icon.jpg);
}

.owner-registered-icon {
    width: 5rem;
}




.edit-delete-div {
    display: flex;
    justify-content: space-between;
}


.owner-edit-icon {
    position: relative;
    cursor: pointer;
}

.owner-edit-input {
    cursor: pointer;
    height: 3rem;
    opacity: 0;
}


.owner-edit-icon::after {
    content: "";
    background-image: url(/static/images/edit-icon.png);
    background-size: 3rem 3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1rem;
    left: -5rem;
}




.owner-delete-icon {
    position: relative;
    cursor: pointer;
}

.owner-delete-input {
    cursor: pointer;
    height: 3rem;
    opacity: 0;
}


.owner-delete-icon::after {
    content: "";
    background-image: url(/static/images/delete-icon.png);
    background-size: 3rem 3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1rem;
    left: -3rem;
}
