{% extends "vets/base.html" %}


{% block vets %}
<div class="dashboard-nav-off">
    
</div>
<div class="vets-info-div">
    <p class="paragraph vets-par-info">
        This page concerns pet vets. The vets independent of pets
        although usually they have their own. A pet can only have 
        one vet, but a vet has multiple pets.
    </p>

    <p class="paragraph vets-par-info">
        vets can be added using our vet-registration form.
        Vets only have two pieces of information related to
        them: first name and last name (tho as we said, they
        are also responsible for pets).
    </p>

    <p class="paragraph vets-par-info">
        There is also a list of vets containing all the vets 
        and their details. There, it is possible to edit or delete
        a vet entry.
    </p>
</div>
{% endblock %}