{% extends "owners/base.html" %}


{% block owners %}
<div class="dashboard-nav-off">
    
</div>
<div class="owners-info-div">
    <p class="paragraph owners-par-info">
        This page concerns pet owners. The owners are either
        registered members in our system or not. Although usually
        they come with pets, there are cases where an owner might 
        not have their own pet but want to get registerd with us 
        anyway.
    </p>

    <p class="paragraph owners-par-info">
        Owners can be added using our owner-registration form.
        After submiting their details, e.g., phone email etc,
        they are also asked if they want to give us a feedback,
        or to leave a testimonial.
    </p>

    <p class="paragraph owners-par-info">
        There is also a list of owners containing all the owners 
        and their details. There, it is possible to edit or delete
        an owner entry.
    </p>
</div>
{% endblock %}