{% extends "owners/dashboard/base.html" %}

{% block owners_dashboard %}


<div class="owners-pet-box">

    <!-- fixed form -->
    <img src="/static/images/new-pet.png" alt="pet-new" class="owners-pet-profile-img">

    <form class="form owners-form" enctype="multipart/form-data" method="POST" action="/owners/{{owner.id}}/add-pet">
        <div class="form-group">
            <input class="form-input" placeholder="Name" type="text" name="name" id="name" required>
            <label class="form-label" for="name">Name</label>
        </div>
        <div class="form-group">
            <input class="form-input" placeholder="Type" type="text" name="type" id="type" required>
            <label class="form-label" for="type">Type</label>
        </div>
        <div class="form-group">
            <input class="form-input" type="date" name="dob" id="dob">
            <label class="form-label" for="dob">Date of birth (if known)</label>
        </div>
        <div class="form-group">
            <input class="form-input" placeholder="Years Old (years.months [month range: 0.01 - 0.11]) Type '-' if you have entered DoB" type="text" name="yo" id="yo" required>
            <label class="form-label" for="yo">Years Old (years.months [month range: 0.01 - 0.11]) Type '-' if you have entered DoB</label>
        </div>

        <div class="form-group">
            <select name="vet" id="owner-pet-vet" required>
                {% for vet in vets %}
                <option value="{{vet.id}}">{{vet.first_name}} {{vet.last_name}}</option>
                {% endfor %}
            </select>
            <label class="form-label" for="owner-pet-vet">Vet</label>
        </div>
        <div class="form-group">
            <input type="file" class="form-input upload-input" id="image" name="image">
            <label class="form-label upload-label" for="image">Upload image</label>
        </div>

        <div class="form-group">
            <button class="btn btn-green" type="submit">New Pet</button>
        </div>
    </form>
</div>

{% endblock %}