{% extends "owners/base.html" %}
{% block owners %}
<div class="dashboard-nav">
    <ul class="dashboard-nav-list">
        {% if selected_dash_item == 'details' %}
        <li class="dashboard-nav-item dashboard-nav-item-selected"><a href="">{{owner.first_name}}'s details</a></li>
        {% else %}
        <li class="dashboard-nav-item"><a href="">{{owner.first_name}}'s details</a></li>
        {% endif %}

        {% if selected_dash_item == 'pets' %}
        <li class="dashboard-nav-item dashboard-nav-item-selected"><a href="/owners/{{owner.id}}/pets">{{owner.first_name}}'s pets</a></li>
        {% else %}
        <li class="dashboard-nav-item"><a href="/owners/{{owner.id}}/pets">{{owner.first_name}}'s pets</a></li>
        {% endif %}

        {% if selected_dash_item == 'feedbacks' %}
        <li class="dashboard-nav-item dashboard-nav-item-selected"><a href="">{{owner.first_name}}'s feedbacks</a></li>
        {% else %}
        <li class="dashboard-nav-item"><a href="">{{owner.first_name}}'s feedbacks</a></li>
        {% endif %}

        {% if selected_dash_item == 'pets' %}
        <li class="dashboard-nav-item dashboard-nav-item-selected"><a href="">{{owner.first_name}}'s testimonial</a></li>
        {% else %}
        <li class="dashboard-nav-item"><a href="">{{owner.first_name}}'s testimonial</a></li>
        {% endif %}
    </ul>
</div>
{% block owners_dashboard %}

{% endblock %}

{% endblock %}